In [4]:
# pip install pymysql 
import pymysql

## 변수 선언 부분 ##
con, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row = None

## 메인 코드 부분 ##
con = pymysql.connect(host='127.0.0.1', user='root',
                      password='123456', database='pydb', charset='utf8')
cur = con.cursor()

cur.execute("SELECT * FROM book")

print("ID    title    writer         ")
print("--------------------------------------------------------")

while (True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    
    print("%5s   %15s   %15s \n" % (data1, data2, data3))
    # print(f" ID: {data1}, title: {data2}, writer: {data3}")

con.close()

ID    title    writer
--------------------------------------------------------
    2               제목1              lsy1

    3               제목2              lsy2